<h4>Use My Favorite Recipes4 to:</h4>

<p>Keep track of</p>
<ol>
  <li>Which cookbook your recipe is in and the page number</li>
  <li>Or the URL to your favorite recipe</li>
  <li>A picture of the prepared dish</li>
  <li>Notes on what the heck went wrong, or what you had to change</li>
  <ul>
    <li>Different ingredients used</li>
    <li>Changes in quantity (e.g. skip the salt)</li>
  </ul>
</ol>

<p>Also</p>
<ol>
  <li>Rate the 'true' effort level to prepare the ingredients and cook the meal
    and the time it took from prep work to completion!
  </li>
</ol>

<h4>Technology</h4>
Recipes4 uses Angular (with TypeScript) for the web UI,
while still retaining Node.js with MongoDb for the backend services.
